<div id="track-listing-headers" class="row single_list_item_headers">
  <div class="col-1 image-wrapper text-center"></div>
  <div class="col-3 text-left"><h6><%= t(:artist, scope: :global) %></h6></div>
  <div class="col-3 text-left"><h6><%= t(:title, scope: :global) %></h6></div>
  <div class="col-1 text-left"><i class="material-icons material-icons-small">watch_later</i> </div>
  <div class="col-1 text-left"><h6>...</h6></div>
</div>
