<div class="row">

  <div class="col-9">
    <div class="form-group">
      <%= select(:album, :album_id, options_for_select(YamsCore::Album.without_track(@track, current_user).pluck(:title, :id)), {}, class: 'form-control-yams') %>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group p-0">
      <input type='button' id="submitAlbumTrack" class="album-selection-add" value="<%= t('.add') %>">
    </div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">

    $('#album_album_id').select2({
        placeholder: 'Select Album'
    });

    $('#submitAlbumTrack').click(function() {
        $.ajax({
            type: 'POST',
            url: '<%= url_for(yams_core.track_albums_path) %>',
            dataType: "script",
            data: { album_track: { id: '<%= @track.id %>', album_id: $("#album_album_id").val() } }
        });
    });

</script>