<% size = :small if local_assigns[:size].nil? %>

<div class="card">

  <%= bootstrap_card_header(t('.cover')) %>

  <div class="card-body">

    <div class="col-12">
      <%= form.fields_for :cover do |cover| %>
        <div class="form-group">
          <div class="audio-upload">
            <div class="row">
              <div class="col-2">
                <%= model.cover_image_tag(size: :thumb, css: 'img-fluid rounded') unless model.new_record?%>
              </div>
              <div class="col-4">
                <%= custom_file_field(cover, :image, t('.choose_image_file'), options: { accept: 'image/png,image/gif,image/jpeg' }) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
