<% form_id = "taglist-#{model.class.name.demodulize.downcase}-#{model.id}" %>

<div class="form-group">
  <%= form.label t('.tags'), class: 'label-spacer' %>
  <%= form.select :tag_list, options_for_select(model.tag_list, model.tag_list ), {}, { multiple: true , id: form_id, class: 'w-100' } %>
</div>

<script type="text/javascript">
	$('#<%= form_id %>').select2({
		allowClear: true,
		height: '34px',
		tags: true,
		tokenSeparators: [',', ' ']
	});
</script>
