<div class="media align-items-center">

  <div class="accordion-item album-track col-12">
    <div class="card card-sm col p-0">
      <%= bootstrap_card_header( t(:albums, scope: :global)) %>
    </div>

    <ul id="album-management-dashboard-with-dropzone" class="striped-list list-group list-group-flush">
      <!-- Album Management - with drag and drop track section-->
      <% albums.each do |album| %>
        <li id="album_row_<%= album.id %>">
          <%= render(partial: 'yams_core/album/album_with_dropzone', locals: { album_presenter: YamsCore::AlbumPresenter.new(album, self) }) %>
        </li>
      <% end %>
    </ul>

  </div>
</div>
