<% content_for :album_column do %>
  <!-- ALBUMS -->
  <div class="album-track-manager-dropzone m-0 p-0">

    <div class="media align-items-center">

      <div class="accordion-item album-track col-12">
        <div class="card card-sm col p-0">
          <%= bootstrap_card_header( t(:albums, scope: :global)) %>
        </div>

        <ul id="album-management-dashboard-with-dropzone" class="striped-list list-group list-group-flush">
          <!-- Album Management - with drag and drop track section-->
          <% @albums.each do |album| %>
            <li id="album_row_<%= album.id %>">
              <%= render(partial: 'yams_core/album/album_with_dropzone', locals: { album_presenter: YamsCore::AlbumPresenter.new(album, self) }) %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>

  </div>
<% end %>

<%= render partial: 'yams_core/album/track_selection_form', locals: { header: t('.track_selection_form') } %>