<div class="row">

  <div class="col-12">

    <div class="card">

      <%= bootstrap_card_header( t(:playlists, scope: :global)) %>

      <div class="card-body pt-4">
        <ul id="playlist-management-dashboard-with-dropzone" class="striped-list list-group list-group-flush">

          <!-- Target for dynamic CREATE - new playlist from remote controller-->
          <div id="target-for-playlist-create-insertion-point">
          </div>

          <!-- Playlist Management - with drag and drop track section-->
          <% playlists.each do |playlist| %>
            <li id="playlist_row_<%= playlist.id %>" class="pb-4">
              <%= render(partial: 'yams_core/playlist/playlist_with_dropzone', locals: { 
                playlist: YamsCore::PlaylistPresenter.new(playlist: playlist, view_context: self) 
                }) %>
            </li>
          <% end %>

        </ul>
      </div>

    </div>
  </div>
</div>

