<% if track.audio.try(:filename) %>
  <h6>Replace : <%= track.audio.filename %></h6></p>
<% end if track.new_record? %>

<label for="new-audio-upload-file-field" id="label-for-audio-upload" class="align-middle w-100 label-for-uploads icons-for-uploads">

  <div id="audio-upload-messages" class="mb-2 text-info"></div>
  <div id="audio-upload-messages-errors" class="mb-2 text-danger"></div>

  <div class="row">
    <div id="audio-upload-progress-wrapper" class="col-12 response pt-2 px-0">
      <progress class="col-12 progress px-0 d-none " id="audio-upload-progress" max="100" value="0"></progress>
    </div>
  </div>

  <div class="upload-btn-wrapper dropzone dropzone-default dz-clickable pt-4" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
    <div class="col">
      <i class="fa fa-download" aria-hidden="true"></i>
    </div>
    <span class="upload-btn dropzone-msg-title"><%= t('.choose_audio_file_long') %></span>

    <% acceptable_types = "audio/*" %>
    <%= form.file_field(:audio,
                        id: 'new-audio-upload-file-field',
                        accept: acceptable_types,
                        direct_upload: true,
                        data: { target: 'dropzone.input' } ) %>

    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <div class="dropzone-msg-desc text-info pt-4"><%= t('choose_audio_help', scope: :global) %></div>
    </div>
  </div>

</label>
