<div class="card">

  <%= bootstrap_card_header( t(:permissions, scope: :global)) %>

  <div class="card-body pt-2">

    <% info = { 'free' => 'Available for listening, by any visitor, e.g on radio stream'} %>

    <% YamsCore::Available.modes.keys.each do |c|  %>
      <div class="row pl-2">
        <div class="col-1">
          <%= check_box_tag "availables[#{c}]", 'true', @track.available_for?(c) %>
        </div>
        <div class="col-5 pl-2">
          <%= form.label c, 'data-toggle': "tooltip", 'data-placement': "right", title: info[c] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>