<li class="row single_list_item_headers">
  <div class="col-1"></div>
  <div class="col-3"><h6><%= t(:artist, scope: :global) %></h6></div>
  <div class="col-3"><h6><%= t(:title, scope: :global) %></h6></div>
  <div class="col-1 text-center"><i class="material-icons material-icons-small">calendar_today</i> </div>
  <div class="col-1 text-center"><i class="material-icons material-icons-small">watch_later</i> </div>
  <div class="col-1 text-center"><h6><%= t(:tags, scope: :global) %></h6></div>
</li>