<div id="show-tracks" class="media row pt-4">
  <div class="accordion-item artist col-8 offset-2 ">
    <div class="card card-sm col m-0 p-0">
      <div class="card-header">

        <div class="row">
          <div class="col-2"><div class="article-info-text">Uploaded :</div></div>
          <div class="col-10"><%= @track.created_at.to_s(:short) %></div>
        </div>

        <div class="row">
          <div class="col-2"><div class="article-info-text">Description :</div></div>
          <div class="col-10"><%= @track.description %></div>
        </div>

        <div class="row">
          <div class="col-2"><div class="article-info-text">Tags :</div></div>
          <div class="col-10">
            <% @track.tag_list.each do |t| %><div class="article-info-text tag"><%= t %></div><% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-2"><div class="article-info-text">TODO :</div></div>
          <div class="col-10">Ratings, Comments, Likes etc
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :audio_player_in_navbar  do %>
  <%= render(partial: 'datashift_audio_engine/shared/player_in_navbar',  locals: { datashift_audio_setup_json: @datashift_audio_json } ) %>
<% end %>
