<%= render partial: 'yams_core/album/add_album_track_script' %>

<div class="row">

  <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>

  <!-- TRACKS COLUMN -->
  <div class="col-5">
    <div class="media align-items-center">
      <div class="accordion-item album-track col-12">
        <div class="card card-sm col p-0">
          <%= bootstrap_card_header( t(:tracks, scope: :global)) %>
        </div>

        <div class="card card-sm p-0 col">
          <div class="card-body drag show-track-album-dropzone">
            <div id="target-for-track_removal-reinsertion"></div>   <!-- INSERTION TARGET -->
            <% @tracks.each do |t| %>
              <%= render partial: 'yams_core/track/tracks/draggable_track_in_a_row', locals: { track_presenter: YamsCore::TrackPresenter.new(t, self) } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ALBUM COLUMN -->
  <div class="col-6">
    <%= yield :album_column %>
  </div>

</div>

