<% content_for :playlist_column do %>
  <div class="playlist-track col">
    <div class="card col p-0">
      <%= bootstrap_card_header( t('.create')) %>
    </div>

    <div class="card card-sm p-0 mb-2">
      <div class="card-body">
        <div id="toggle-new-playlist-form" class="collapse show col-12 playlist-track" role="tabpanel">

          <div class="d-flex justify-content-between">
            <div id="render-new-playlist-form"  class="col-12">
              <%= render(partial: 'yams_core/playlist/playlists/form', locals: { playlist: YamsCore::Playlist.new }) %>
            </div>
          </div>

        </div>

        <ul id="playlist-management-dashboard-with-dropzone" class="striped-list list-group list-group-flush">
          <!-- Target for dynamic CREATE - new playlist from remote controller-->
          <div id="target-for-playlist-create-insertion-point"></div>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'yams_core/playlist/track_selection_form', locals: { header: t('.track_selection_form') } %>
