<div class="row pt-2 pb-4">
  <div class="col">
    <div class="card">
      <div class="card-header py-2">
        <h4>Search for "<%= params.fetch(:searches, {})[:q] %>" returned <%= @search_results.count %> results</h4>
      </div>

    </div>
  </div>
</div>

<div id="endless">
  <%= render partial: 'search_result', locals: { presenter: @search_results } %>
</div>

