<div class="row pt-1">
  <h4>Search for "<%= params.fetch(:searches, {})[:q] %>" returned <%= @search_results.count %> results</h4>
</div>

<div id="endless">
  <%= render partial: 'search_result', locals: { presenter: @search_results } %>
</div>

