<% artist = YamsCore::ArtistPresenter.new(artist, self) %>

<div id="show_artist_row_<%= artist.id %>" class="show_artist_row card card-sm ml-2 mr-2">

  <div class="card-header col-12">
    <h5 class=".text-light">Tracks</h5>
  </div>

  <div class="card-body-plain">
    <div class="collapse show col-12 artist-track" role="tabpanel">
      <div class="datashift-audio-artist-content p-1 col-12 w-100">

        <ul id="datashift-audio-artist" class="datashift-audio-artist p-1">

          <% artist.tracks.each_with_index do |track, index| %>
            <%= render partial: 'yams_core/shared/single_track_for_player.html', locals: { track: track, index: index } %>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("li[id^='track-']").click(function() {
            datashift_audio_engine.audio_data.track = parseInt(this.id.split('-')[1]);
            datashift_audio_engine.settings.autoplay = true;
            datashift_audio_engine.render_wave_from_audio_file()
        });
    });
</script>
