<% content_for :datashift_audio_engine_track_playlist do %>
  <%= render partial: 'yams_core/track/as_list_item.html', collection: @tracks, as: :track %>
<% end %>

<div id="radio-create-playlist-wrapper">
  <%= render(partial: 'yams_audio/shared/track_playlist.html') %>
</div>