<% content_for :audio_player_in_navbar  do %>
  <%= render(partial: 'yams_audio_engine/shared/player_in_navbar',  locals: { yams_audio_json: @yams_audio_json } ) %>
<% end if @tracks.present? %>

<div id="radio-create-playlist-wrapper" class="col-9">

  <% content_for :datashift_audio_engine_track_playlist do %>

    <%= render partial: 'yams_core/track/tracks/single_list_item_headers' %>

    <%= render partial: 'yams_core/track/tracks/as_single_list_item.html', collection: @tracks, as: :track %>

    <!-- TODO - hook into BtcPay Server API to generate invoice -->
    <script type="text/javascript">
			function order_download_track(track_id) {
				/*$.ajax({
					type: "POST",
					dataType: "script",
					url: 'Btc Pay Server create invoice %>',
					data: { download_invoice: { track_id: track_id } },
					success:function(data){
						alert('Invoice created OK')
					},
					error:function(){
						alert('Invoice creation FAILED');
					}
				})*/
			};
    </script>

  <% end %>

  <%= render(partial: 'yams_audio_engine/shared/track_playlist.html') %>
</div>
