<div class="row">
  <div id="future_possible-menu" class="col-2"></div>
  <div class="col-8">
    <!-- Following is filled with inner track data via 'yams_core/tracks/playlist.html.erb' -->
    <%= render partial: 'datashift_audio_engine/shared/track_playlist'  %>
  </div>
</div>

<script>
    $.ajax({
        type: 'POST',
        url:  '<%= url_for(datashift_audio_engine.player_in_nav_bars_path) %>',
        dataType: "script",
        data: {
            target_element: '#navbar-audio-player-insertion-point',
            player_settings: '<%= raw @datashift_audio_json_settings %>',
            load_url: '<%= yams_core.radio_index_url(format: :json) %>'
        }
    });
</script>

