<div class="row">
  <div id="future_possible-menu" class="col-2"></div>
  <div class="col-8">
    <!-- Following is filled with inner track data via 'yams_core/tracks/playlist.html.erb' -->
    <%= render partial: 'datashift_audio_engine/shared/track_playlist'  %>
  </div>
</div>

<script>
  $.ajax({
      type: 'POST',
      url:  '<%= url_for(datashift_audio_engine.player_in_nav_bars_path) %>',
      dataType: "script",
      data: { 'init_url': '<%= yams_core.audio_player_init_url(format: :json) %>', 'load_url': "/radio.json" }
  });
</script>
