<div class="row">
  <%#= render partial: 'yams_core/track/as_list_item_headers' %>
  <ul id="yams-audio-radio-playlist" class="yams-audio-track-listing">
    <%= turbo_frame_tag "radio_1", src: yams_core.radio_tracks_path do %>
      <h3>Loading...</h3>
    <% end %>
  </ul>
</div>