<% content_for :audio_player_in_navbar do %>
  <%= turbo_frame_tag "yams-player-in-navbar" do %>
    <%= render partial: 'yams_audio/shared/player', locals: { track: @track } %>
  <% end %>
<% end  %>

<div id="yams-audio-radio-playlist-wrapper" class="col">
    <ul id="yams-audio-radio-playlist" class="yams-audio-track-listing">
      <%= render partial: 'yams_core/track/as_list_item_headers' %>

      <%= turbo_frame_tag "radio_1", loading: "lazy", src: yams_core.radio_tracks_path do %>
        <h3>Loading...</h3>
      <% end %>
    </ul>
</div>