<p>Welcome <%= @email %> to Yet Another Music Service</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', yams_core.user_confirmation_url(confirmation_token: @token) %></p>
